{% extends 'exp_base.html' %}
{% load staticfiles %}
{% block title %}攻防演练平台{% endblock %}

{% block custom_css %}
    <link href="{% static 'css/common_2016.css' %}" media="screen" rel="stylesheet" type="text/css">
    <link href="{% static 'css/ctf/CTF_Details.css' %}" media="screen" rel="stylesheet" type="text/css">
    <link href="{% static 'css/experiment/train.css' %}" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block custom_bread %}
    <section>
        <div class="wp">
            <ul class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li>漏洞体验</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="train_question_main">


            <!--内容左部分-->
            <div class="train_m_left">

                <div class="ui segment" style="padding-top: 1px;">
                    <div class="ui pointing secondary menu red section-title">
                        <div class="item active" style="margin-bottom: 14px;">
                            热门标签
                        </div>
                    </div>
                    <div class="ui labels">
                        {% for tag in tags %}
                            <a href="?category={{ tag }}"
                               class="ui label " {% if tag == category %}style="color:red"{% endif %}>{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <!--内容右部分-->
            <div class="train_m_right">
                <!--右侧内容1——tabs切换-->
                <div class="train_mri_tabs" id="key_tabNav">

                    <div class="waterfall heike">
                        <div class="divone">
                            {% for exp in hot_exps.object_list %}
                                <dl class="">
                                    <dt>
                                        <a href="{% url 'exp:exp_detail' exp.id %}" title="{{ exp.name }}"><img
                                                src="{{ MEDIA_URL }}{{ exp.image }}"></a>
                                        <span class="tz"></span>
                                    </dt>
                                    <dd>
                                        <h3><a href="{% url 'exp:exp_detail' exp.id %}"
                                               title="{{ exp.name }}">{{ exp.name }}</a></h3>
                                        <p>
                                            <span class="lx">类型：<span>{{ exp.category }}</span></span>
                                            <span class="nd">难度：<span>{{ exp.degree }}</span></span>
                                            <span class="rs">{{ exp.students }}<span>人参加</span></span>
                                        </p>
                                        <p class="xbb">{{ exp.detail }}</p>
                                    </dd>
                                    <div class="cnm_mb">
                                        <a href="{% url 'exp:exp_detail' exp.id %}" title="{{ exp.name }}"><img
                                                src="{% static 'images/start.png' %}"
                                                alt=""/></a>
                                    </div>
                                </dl>
                            {% endfor %}

                        </div>
                        <!-- 分页 -->
                        <div class="show_flip">
                            {% if hot_exps.has_previous %}
                                <a class="show_prev"
                                   href="?exp_page={{ hot_exps.previous_page_number }}&category={{ category }}">上一页</a>
                            {% endif %}

                            {% for exp_page in hot_exps.pages %}
                                {% if exp_page %}
                                    {% ifequal exp_page hot_exps.number %}
                                        <a class="show_prev"
                                           href="?exp_page={{ exp_page }}&category={{ category }}">{{ exp_page }}</a>
                                    {% else %}
                                        <a href="?exp_page={{ exp_page }}&category={{ category }}"
                                           class="page">{{ exp_page }}</a>
                                    {% endifequal %}
                                {% else %}
                                    <a href="">...</a>
                                {% endif %}
                            {% endfor %}

                            {% if hot_exps.has_next %}
                                <a class="show_next"
                                   href="?exp_page={{ hot_exps.next_page_number }}&category={{ category }}">下一页</a>
                            {% endif %}
                        </div>
                        <!-- 分页end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}